# compiled
**/bin/*
**/obj/*
**/.nupkg

# settings
pmtAuth/src/pmtAuth/appsettings.Development.json
pmtAuth/src/pmtAuth/appsettings.json
**/.vscode/*
.vscode/launch.json

# migrations
**/Migrations/*
.DS_Store
pmtAuth/.DS_Store
pmtAuth/src/.DS_Store
pmtAuth/src/pmtAuth/.DS_Store
